<li>
	<%= gravatar_for user, size: 50 %>
	<%= link_to user.name, user %>
	<% friendship = Friendship.where(to_id: current_user.id, from_id: user.id).first %>
	<% unless Friendship.where(to_id: current_user.id, from_id: user.id).empty? || user == current_user %>
		<% if friendship.accepted == false %>
			 | <%= link_to "Accept Friend Request", friend_request_accept_friendship_path(user.id), method: :put %>
			 | <%= link_to "Reject Friend Request", friend_request_reject_friendship_path(user.id), method: :delete %>
		<% elsif friendship.accepted == true %>
			 (Friend)
		<% end %>
	<% end %>
	<% friendship = Friendship.where(from_id: current_user.id, to_id: user.id).first %>
	<% unless Friendship.where(from_id: current_user.id, to_id: user.id).empty? || user == current_user %>
		<% if friendship.accepted == false %>
			 <i>(Pending friend request)</i>
		<% elsif friendship.accepted == true %>
			 (Friend)
		<% end %>
	<% end %>
	<% if Friendship.where(to_id: current_user.id, from_id: user.id).empty? && Friendship.where(from_id: current_user.id, to_id: user.id).empty? %>
		<% unless user == current_user %>
			 | <%= link_to "Add Friend", friend_request_friendship_path(user.id), method: :put %>
		<% end %>
	<% end %>
</li>