<!DOCTYPE html>
<html>
<head>
  <title>OdinFacebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<nav>
			<% if user_signed_in? %>
				Signed in as <%= link_to current_user.username, current_user %>. Not you?
				<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "All Users", users_path %></li>
					<li><%= link_to "Friend requests (#{current_user.pending_friendships.count})", friendships_pending_path %></li>
				</ul>
			<% else %>
				<%= link_to "Sign up", new_user_registration_path %> or
				<%= link_to "Sign in", new_user_session_path %>
			<% end %>
		</nav>
	</div>
</header>
<div class="container">
	<% flash.each do |message_type, message| %>
		<div class= "alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
	<%= yield %>
	<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
